# =========================
# Build directories
# =========================
build/
cmake-build-*/
out/
bin/

# =========================
# CMake files
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# =========================
# Visual Studio
# =========================
*.vcxproj*
*.sln
*.user
*.filters
*.log
*.tlog/
*.lastbuildstate
.vs/

# =========================
# Windows
# =========================
*.exe
*.dll
*.lib
*.pdb

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Linux
# =========================
*.o
*.so

# =========================
# Debug / Temp files
# =========================
*.tmp
*.temp
*.cache
*.bak
*.swp

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Testing / coverage
# =========================
coverage/
*.gcno
*.gcda
*.gcov

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Misc
# =========================
*.out
*.app